Source: org.tzone.mgrs
Section: Utilities
Priority: extra
Maintainer: Phil Vandry <vandry@TZoNE.ORG>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: org.tzone.mgrs
Architecture: iphoneos-arm
Description: Designed for pilots to easily convert MGRS coordinates to latitude & longitude in-flight.
